@font-face {
   font-family: 'FZLTTHJW';
   font-display: swap;
   src: url('FZLTTHJW/font.TTF');
}
@font-face {
   font-family: 'FZLTHJW';
   font-display: swap;
   src: url('FZLTHJW/font.TTF');
}
@font-face {
   font-family: 'FZLTXHJW';
   font-display: swap;
   src: url('FZLTXHJW/font.TTF');
}
