@font-face {
   font-family: 'FZLTTHJW';
   font-display: swap;
   src: url('file:///C:/Users/%E5%9B%BF%E4%BA%8E%E9%93%B6%E6%B2%B3/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-08_103601/fonts/FZLTTHJW/font.TTF');
}
